<h2><%= t('.sign_in', default: 'Sign in') %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean, wrapper: :vertical_boolean %>
  <% end -%>

  <%= f.button :submit, t('.sign_in', default: 'Sign in') %>
<% end %>

<%= render "devise/shared/links" %>
